{% extends 'base.html' %}

{% block body %}
<main>
    <section class="welcome-section">
        <h1 class="center-text animated-text">
            Welcome to the Attendance Monitoring System
        </h1>
        <p class="center-text shadow-box animated-fade">
            Our IoT-based attendance monitoring system offers a seamless and efficient solution for tracking attendance in real-time. 
            By integrating advanced technologies like <strong>RFID</strong> and <strong>facial recognition</strong>, the system automatically registers individuals as they arrive, 
            ensuring accurate and secure attendance records. The data is instantly transmitted to a centralized cloud database, 
            which can be accessed from anywhere, providing real-time insights and reports. Say goodbye to manual attendance taking and eliminate errors and fraud. 
            Ideal for schools, universities, and businesses, our system enhances convenience, reliability, and security, making attendance management easier than ever.
        </p>
        <div class="center-text">
            <a href="#" class="btn btn-primary animated-bounce">Learn More</a>
        </div>
    </section>
</main>
{% endblock %}
